ul#key
    li
        img(src='/images/spritesheet_images/24x24/marker_dark_blue_24x24.png', title='Charitable Project')
        span Charitable Project
    li
        img(src='/images/spritesheet_images/24x24/marker_dark_green_24x24.png', class="push" title='Citizenship')
        span Citizenship
    li
        img(src='/images/spritesheet_images/24x24/marker_light_blue_24x24.png', title='Education Formal')
        span Education Formal
    li
        img(src='/images/spritesheet_images/24x24/marker_light_green_24x24.png', title='Education Informal')
        span Education Informal
    li
        img(src='/images/spritesheet_images/24x24/marker_orange_24x24.png', class="push" title='Engagement')
        span Engagement
    li
        img(src='/images/spritesheet_images/24x24/marker_pink_24x24.png', class="push" title='Other')
        span Other
    li
        img(src='/images/spritesheet_images/24x24/marker_purple_24x24.png', title='Social Inclusion')
        span Social Inclusion
    li
        img(src='/images/spritesheet_images/24x24/marker_red_24x24.png', title='Workforce Development')
        span Workforce Development
