#modalContainer(style='display:none')
    #modal
        img(src='/images/modal-logo.svg')
        h3 We will badge the world
        p
            strong Badge the World
            |  seeks to document the many innovative Open Badge projects that are underway
            |                 throughout the world. Badge the World also aims to create a community and foster discussion
            |                 amongst those involved in Open Badge projects, no matter how large or small or what the project
            |                 aims are.
        p
            | We want the Badge the World website to function as a place where those working with Open
            | Badges can learn about the work of others, discuss relevant issues with like-minded colleagues
            | and find new collaborators to work with. We hope you’ll join us in taking the Open Badges
            | movement forward and ensuring that it is a global movement.
        p
            | Badge the World has been made possible by Nominet Trust, who support the 
            a(href='http://www.digitalme.co.uk/badgetheuk')
                | Badge the UK project
            | , Mozilla (especially the Open Badges team) and Badge Alliance.
        a#modalClose.button(href='#') Continue
