aside(class=("#{device}" == "phone" ? "closed" : undefined))
    .buttons-container
        button#toggleSidebar(type='button', role='button', aria-label='Toggle Navigation', class=("#{device}" == "phone" ? "lines-button arrow arrow-left closed" : "lines-button arrow arrow-left close"))
            span.lines
    #logoContainer
        img#logo(src='/images/logo.svg', alt='')
        div
            h1
                span Badge
                | theWorld
    ul#tabs
        li.active
            a(href='#', data-content='pledge') Pledge
        li
            a(href='#', data-content='about') About
        li
            a(href='#', data-content='twitter') Twitter
        li
            a(href='#', data-content='contact') Contact
        li
            a(href='#', data-content='search') Search
    #content.pledge
        include ./sidebar/pledge.jade
        include ./sidebar/about.jade
        include ./sidebar/twitter.jade
        include ./sidebar/contact.jade
        include ./sidebar/search.jade
    #sidebarFooter
        span.copyright © 2015 Badge the World
        span
            a.social(href='https://twitter.com/badgetheworld', title='twitter')
                i.icon-twitter
            a.social(href='https://www.facebook.com/digitalme.projects', title='facebook')
                i.icon-facebook
        span
            a(href='http://www.digitalme.co.uk/')
                img.affiliates(src='/images/digitalme.png', alt='Digital Me Leeds')
        span
            a(href='http://openbadges.org/')
                img.affiliates(src='/images/openbadges.png', alt='Mozilla Open Badges')
