extends admin-layout

block admin-content
	.row
		.col-lg-12
			a.btn.button.btn-primary(href='/download') Download
			a.btn.button.button-pledge.btn-success(href='/') New Pledge
			h1.page-header
				| Pledges
	.row
		.col-lg-12
			.table-responsive
				table.table.table-hover.table-striped
					thead
						tr
							th Pledge Methods
							th Idea
							th Topic
							th
								i.icon-users(title='How many people will your badging efforts impact?')
							th
								i.icon-location-1(title='Location')
							th
								i.icon-mail(title='Email Address')
							th Full Name
							th
								i.icon-twitter(title='Twitter Username')
							th Organisation
							th
								i.icon-calendar(title='Date of pledge')
							th Actions
					tbody
	form#deletePledge(action='/deletePledge', method='post')
		input(type='hidden', name='_csrf', value='#{csrfToken}')


block admin-scripts
	script(src='/javascripts/admin.js')
	script.
		$(document).delegate('.delete','click', function(e) {
			e.preventDefault();
			var id = $(this).data('id');
			var url = $('form#deletePledge').attr('action');

			if (window.confirm("Are you sure you want to delete this pledge?")) {
				$.post(url,{id:id, _csrf: $('form#deletePledge input[name=_csrf]').val()}, function(response) {
					if (response.status == "ok") window.location = "/admin";
				});
			}
		});
