#contact.content
    p
        | Badge the World is a project run by DigitalMe. If you would like to speak to us
        | about making a pledge or how we might support you, please get in touch.
        | Browse our website or contact us directly via the form below.
    form(action='/contact', id='contactForm', method='post', accept-charset='utf-8')
        input(type='hidden', name='_csrf', value='#{csrfToken}')
        h2 Get in Touch...
        input#contactName.required.half(type='text', name='name', value='', dir='auto', aria-label='Name ', aria-required='true', required='', placeholder='name', title='')
        input#contactCompany.required.half(type='text', name='company', value='', dir='auto', aria-label='Company ', aria-required='true', required='', placeholder='company', title='')
        input#contactEmail.required.half(type='email', name='email', value='', dir='auto', aria-label='Email ', aria-required='true', required='', placeholder='email', title='')
        input#contactPhone.required.half(type='text', name='phone', value='', dir='auto', aria-label='Phone ', aria-required='true', required='', placeholder='phone', title='')
        textarea#message.required(name='message', rows='4', cols='55', dir='auto', aria-label='Your message...  ', aria-required='true', required='', placeholder='message')
        input#contactSubmitHidden(type='submit', style='display:none')
        button#contactSubmit
            span.text Submit
            span.spinner
                i.demo-icon.icon-spin1.animate-spin
    #contactDetails
        hr
        ul
            li DigitalMe
            li Studio 23
            li 30-34 Aire Street
            li Leeds, LS1 4HT
        ul
            li
                span Telephone
            li
                a(href='tel:+441132456445') 0113 245 6445
            li
                span Email
            li
                a(href='mailto:hello@digitalme.co.uk') hello@digitalme.co.uk
        div#contactLink
            a(href='http://www.digitalme.co.uk/') www.digitalme.co.uk
            a(href='https://digitalmesupport.typeform.com/to/DMbEaw', class='remove') I'd like to remove or change my pledge
            a(href='https://www.digitalme.co.uk/privacy/', class='privacy') Badge the World Privacy Statement
