#pledge.content
    form#createPledge(action='/createPledge', method='post', accept-charset='utf-8')
        #stageOne.section
            p
                | Badge the World is the new social and technology movement to capture 
                | recognition for learning that happens anywhere, Share your Open Badge 
                | work on the map and connect with others
            input(type='hidden', name='_csrf', value='#{csrfToken}')
            input(type='hidden', name='lat', value='')
            input(type='hidden', name='lon', value='')
            h2
                | How are you planning to use badges?
                //span.sub *Required fields
            ul#fiveWays
                li
                    input#createBadge(type='checkbox', name='createBadge', value='Create or Design Badges', role='checkbox')
                    | Create or Design Badges
                li
                    input#researchBadge(type='checkbox', name='researchBadge', value='Research Badges', role='checkbox')
                    | Research Badges
                li
                    input#joinBadge(type='checkbox', name='joinBadge', value='Join the Badging Conversation', role='checkbox')
                    | Join the Badging Conversation
                li
                    input#displayBadge(type='checkbox', name='displayBadge', value='Display Badges', role='checkbox')
                    | Display Badges
            .clearfix
            h2
                | If you are an Open Badge Platform do you?
                //span.sub *Required fields
            ul#platform
                li
                    input#issueBadges(type='checkbox', name='issueBadges', value='Issue Badges', role='checkbox')
                    | Issue Badges
                li
                    input#displayBadges(type='checkbox', name='displayBadges', value='Display Badges', role='checkbox')
                    | Display Badges
                li
                    input#hostBadges(type='checkbox', name='hostBadges', value='Host Badges', role='checkbox')
                    | Host Badges
            .clearfix
            h2
                | Tell us about your badging ideas... 
                span.required *
            textarea#idea.required(name='idea', rows='4', cols='55', dir='auto', aria-label='Tell us about your badging ideas...  ', aria-required='true', required='')
            h2addLocation
                | Topic: 
            select#topic(name='topic', form='createPledge')
                option(value='Charitable Project') Charitable Project
                option(value='Citizenship') Citizenship
                option(value='Education Formal') Education Formal
                option(value='Education Informal') Education Informal
                option(value='Engagement') Engagement
                option(value='Other') Other
                option(value='Social Inclusion') Social Inclusion
                option(value='Workforce Development') Workforce Development
            h2
                | How many people will your badging efforts impact? 
                span.required *
            input#numberOfPeople.required.half(type='text', name='numberOfPeople', value='', dir='auto', aria-label='How many people will your badging efforts impact? Be ambitious... ', aria-required='true', placeholder='Be ambitious...', title='', required='')
            h2#addressHeader Address:
            #addressContainer
                span
                    p
                        | Click the target (
                        i.icon-target
                        | ) to detect and use your current location.
                    a(href='#')
                        i.icon-target
                input#address(type='text', name='address', value='', dir='auto', aria-label='Location: Where will this happen? ', placeholder='Where will this happen?', aria-required='true', title='', required='')
                input#continent(type='text', name="continent", style="display: none;")
            a#continue1.button Continue
        #stageTwo.section(style='display: none')
            p.country
                p 
                    | When placing the marker (
                    img(src='/images/pledge-marker.png')
                    | ), we attempted to detect your country, if this is incorrect, please change it below...
                select#pledgeCountry(name='country', form='createPledge')
                    option(value='All', data-continent='NA') All
                    option(value='Afghanistan', data-continent='Asia') Afghanistan
                    option(value='Åland Islands', data-continent='Europe') Åland Islands
                    option(value='Albania', data-continent='Europe') Albania
                    option(value='Algeria', data-continent='Africa') Algeria
                    option(value='American Samoa', data-continent='Oceania') American Samoa
                    option(value='Andorra', data-continent='Europe') Andorra
                    option(value='Angola', data-continent='Africa') Angola
                    option(value='Anguilla', data-continent='North America') Anguilla
                    option(value='Antarctica', data-continent='Antarctica') Antarctica
                    option(value='Antigua and Barbuda', data-continent='North America') Antigua and Barbuda
                    option(value='Argentina', data-continent='South America') Argentina
                    option(value='Armenia', data-continent='Europe') Armenia
                    option(value='Aruba', data-continent='South America') Aruba
                    option(value='Australia', data-continent='Oceania') Australia
                    option(value='Austria', data-continent='Europe') Austria
                    option(value='Azerbaijan', data-continent='Europe') Azerbaijan
                    option(value='Bahamas', data-continent='North America') Bahamas
                    option(value='Bahrain', data-continent='Asia') Bahrain
                    option(value='Bangladesh', data-continent='Asia') Bangladesh
                    option(value='Barbados', data-continent='North America') Barbados
                    option(value='Belarus', data-continent='Europe') Belarus
                    option(value='Belgium', data-continent='Europe') Belgium
                    option(value='Belize', data-continent='North America') Belize
                    option(value='Benin', data-continent='Africa') Benin
                    option(value='Bermuda', data-continent='North America') Bermuda
                    option(value='Bhutan', data-continent='Asia') Bhutan
                    option(value='Bolivia, Plurinational State of', data-continent='South America') Bolivia, Plurinational State of
                    option(value='Bonaire, Sint Eustatius and Saba', data-continent='South America') Bonaire, Sint Eustatius and Saba
                    option(value='Bosnia and Herzegovina', data-continent='Europe') Bosnia and Herzegovina
                    option(value='Botswana', data-continent='Africa') Botswana
                    option(value='Bouvet Island', data-continent='Antarctica') Bouvet Island
                    option(value='Brazil', data-continent='South America') Brazil
                    option(value='British Indian Ocean Territory', data-continent='Asia') British Indian Ocean Territory
                    option(value='Brunei Darussalam', data-continent='Asia') Brunei Darussalam
                    option(value='Bulgaria', data-continent='Europe') Bulgaria
                    option(value='Burkina Faso', data-continent='Africa') Burkina Faso
                    option(value='Burma', data-continent='Asia') Burma
                    option(value='Burundi', data-continent='Africa') Burundi
                    option(value='Cambodia', data-continent='Asia') Cambodia
                    option(value='Cameroon', data-continent='Africa') Cameroon
                    option(value='Canada', data-continent='North America') Canada
                    option(value='Cape Verde', data-continent='Africa') Cape Verde
                    option(value='Cayman Islands', data-continent='North America') Cayman Islands
                    option(value='Central African Republic', data-continent='Africa') Central African Republic
                    option(value='Chad', data-continent='Africa') Chad
                    option(value='Chile', data-continent='South America') Chile
                    option(value='China', data-continent='Asia') China
                    option(value='Christmas Island', data-continent='Asia') Christmas Island
                    option(value='Cocos (Keeling) Islands', data-continent='Asia') Cocos (Keeling) Islands
                    option(value='Colombia', data-continent='South America') Colombia
                    option(value='Comoros', data-continent='Africa') Comoros
                    option(value='Congo', data-continent='Africa') Congo
                    option(value='Congo, the Democratic Republic of the', data-continent='Africa') Congo, the Democratic Republic of the
                    option(value='Cook Islands', data-continent='Oceania') Cook Islands
                    option(value='Costa Rica', data-continent='North America') Costa Rica
                    option(value="Côte d'Ivoire", data-continent='Africa') Côte d'Ivoire
                    option(value='Croatia', data-continent='Europe') Croatia
                    option(value='Cuba', data-continent='North America') Cuba
                    option(value='Curaçao', data-continent='South America') Curaçao
                    option(value='Cyprus', data-continent='Europe') Cyprus
                    option(value='Czech Republic', data-continent='Europe') Czech Republic
                    option(value='Denmark', data-continent='Europe') Denmark
                    option(value='Djibouti', data-continent='Africa') Djibouti
                    option(value='Dominica', data-continent='North America') Dominica
                    option(value='Dominican Republic', data-continent='North America') Dominican Republic
                    option(value='East Timor', data-continent='Asia') East Timor
                    option(value='Ecuador', data-continent='South America') Ecuador
                    option(value='Egypt', data-continent='Africa') Egypt
                    option(value='El Salvador', data-continent='North America') El Salvador
                    option(value='Equatorial Guinea', data-continent='Africa') Equatorial Guinea
                    option(value='Eritrea', data-continent='Africa') Eritrea
                    option(value='Estonia', data-continent='Europe') Estonia
                    option(value='Ethiopia', data-continent='Africa') Ethiopia
                    option(value='Falkland Islands (Malvinas)', data-continent='South America') Falkland Islands (Malvinas)
                    option(value='Faroe Islands', data-continent='Europe') Faroe Islands
                    option(value='Fiji', data-continent='Oceania') Fiji
                    option(value='Finland', data-continent='Europe') Finland
                    option(value='France', data-continent='Europe') France
                    option(value='French Guiana', data-continent='South America') French Guiana
                    option(value='French Polynesia', data-continent='Oceania') French Polynesia
                    option(value='French Southern Territories', data-continent='Antarctica') French Southern Territories
                    option(value='Gabon', data-continent='Africa') Gabon
                    option(value='Gambia', data-continent='Africa') Gambia
                    option(value='Georgia', data-continent='Europe') Georgia
                    option(value='Germany', data-continent='Europe') Germany
                    option(value='Ghana', data-continent='Africa') Ghana
                    option(value='Gibraltar', data-continent='Europe') Gibraltar
                    option(value='Greece', data-continent='Europe') Greece
                    option(value='Greenland', data-continent='North America') Greenland
                    option(value='Grenada', data-continent='North America') Grenada
                    option(value='Guadeloupe', data-continent='North America') Guadeloupe
                    option(value='Guam', data-continent='Oceania') Guam
                    option(value='Guatemala', data-continent='North America') Guatemala
                    option(value='Guernsey', data-continent='Europe') Guernsey
                    option(value='Guinea', data-continent='Africa') Guinea
                    option(value='Guinea-Bissau', data-continent='Africa') Guinea-Bissau
                    option(value='Guyana', data-continent='South America') Guyana
                    option(value='Haiti', data-continent='North America') Haiti
                    option(value='Heard Island and McDonald Islands', data-continent='Antarctica') Heard Island and McDonald Islands
                    option(value='Holy See (Vatican City State)', data-continent='Europe') Holy See (Vatican City State)
                    option(value='Honduras', data-continent='North America') Honduras
                    option(value='Hong Kong', data-continent='Asia') Hong Kong
                    option(value='Hungary', data-continent='Europe') Hungary
                    option(value='Iceland', data-continent='Europe') Iceland
                    option(value='India', data-continent='Asia') India
                    option(value='Indonesia', data-continent='Asia') Indonesia
                    option(value='Iran, Islamic Republic of', data-continent='Asia') Iran, Islamic Republic of
                    option(value='Iraq', data-continent='Asia') Iraq
                    option(value='Ireland', data-continent='Europe') Ireland
                    option(value='Isle of Man', data-continent='Europe') Isle of Man
                    option(value='Israel', data-continent='Asia') Israel
                    option(value='Italy', data-continent='Europe') Italy
                    option(value='Ivory Coast', data-continent='Africa') Ivory Coast
                    option(value='Jamaica', data-continent='North America') Jamaica
                    option(value='Japan', data-continent='Asia') Japan
                    option(value='Jersey', data-continent='Europe') Jersey
                    option(value='Jordan', data-continent='Asia') Jordan
                    option(value='Kazakhstan', data-continent='Asia') Kazakhstan
                    option(value='Kenya', data-continent='Africa') Kenya
                    option(value='Kiribati', data-continent='Oceania') Kiribati
                    option(value="Korea, Democratic People's Republic of", data-continent='Asia') Korea, Democratic People's Republic of
                    option(value='Korea, Republic of', data-continent='Asia') Korea, Republic of
                    option(value='Kuwait', data-continent='Asia') Kuwait
                    option(value='Kyrgyzstan', data-continent='Asia') Kyrgyzstan
                    option(value="Lao People's Democratic Republic", data-continent='Asia') Lao People's Democratic Republic
                    option(value='Latvia', data-continent='Europe') Latvia
                    option(value='Lebanon', data-continent='Asia') Lebanon
                    option(value='Lesotho', data-continent='Africa') Lesotho
                    option(value='Liberia', data-continent='Africa') Liberia
                    option(value='Libya', data-continent='Africa') Libya
                    option(value='Liechtenstein', data-continent='Europe') Liechtenstein
                    option(value='Lithuania', data-continent='Europe') Lithuania
                    option(value='Luxembourg', data-continent='Europe') Luxembourg
                    option(value='Macao', data-continent='Asia') Macao
                    option(value='Macedonia, the former Yugoslav Republic of', data-continent='Europe') Macedonia, the former Yugoslav Republic of
                    option(value='Madagascar', data-continent='Africa') Madagascar
                    option(value='Malawi', data-continent='Africa') Malawi
                    option(value='Malaysia', data-continent='Asia') Malaysia
                    option(value='Maldives', data-continent='Asia') Maldives
                    option(value='Mali', data-continent='Africa') Mali
                    option(value='Malta', data-continent='Europe') Malta
                    option(value='Marshall Islands', data-continent='Oceania') Marshall Islands
                    option(value='Martinique', data-continent='North America') Martinique
                    option(value='Mauritania', data-continent='Africa') Mauritania
                    option(value='Mauritius', data-continent='Africa') Mauritius
                    option(value='Mayotte', data-continent='Africa') Mayotte
                    option(value='Mexico', data-continent='North America') Mexico
                    option(value='Micronesia, Federated States of', data-continent='Oceania') Micronesia, Federated States of
                    option(value='Moldova, Republic of', data-continent='Europe') Moldova, Republic of
                    option(value='Monaco', data-continent='Europe') Monaco
                    option(value='Mongolia', data-continent='Asia') Mongolia
                    option(value='Montenegro', data-continent='Europe') Montenegro
                    option(value='Montserrat', data-continent='North America') Montserrat
                    option(value='Morocco', data-continent='Africa') Morocco
                    option(value='Mozambique', data-continent='Africa') Mozambique
                    option(value='Myanmar', data-continent='Africa') Myanmar
                    option(value='Namibia', data-continent='Africa') Namibia
                    option(value='Nauru', data-continent='Oceania') Nauru
                    option(value='Nepal', data-continent='Asia') Nepal
                    option(value='Netherlands', data-continent='Europe') Netherlands
                    option(value='New Caledonia', data-continent='Oceania') New Caledonia
                    option(value='New Zealand', data-continent='Oceania') New Zealand
                    option(value='Nicaragua', data-continent='North America') Nicaragua
                    option(value='Niger', data-continent='Africa') Niger
                    option(value='Nigeria', data-continent='Africa') Nigeria
                    option(value='Niue', data-continent='Oceania') Niue
                    option(value='Norfolk Island', data-continent='Oceania') Norfolk Island
                    option(value='Northern Mariana Islands', data-continent='Oceania') Northern Mariana Islands
                    option(value='Norway', data-continent='Europe') Norway
                    option(value='Oman', data-continent='Asia') Oman
                    option(value='Pakistan', data-continent='Asia') Pakistan
                    option(value='Palau', data-continent='Oceania') Palau
                    option(value='Palestinian Territory, Occupied', data-continent='Asia') Palestinian Territory, Occupied
                    option(value='Panama', data-continent='North America') Panama
                    option(value='Papua New Guinea', data-continent='Oceania') Papua New Guinea
                    option(value='Paraguay', data-continent='South America') Paraguay
                    option(value='Persian Gulf', data-continent='Asia') Persian Gulf
                    option(value='Peru', data-continent='South America') Peru
                    option(value='Philippines', data-continent='Asia') Philippines
                    option(value='Pitcairn', data-continent='Oceania') Pitcairn
                    option(value='Poland', data-continent='Europe') Poland
                    option(value='Portugal', data-continent='Europe') Portugal
                    option(value='Puerto Rico', data-continent='North America') Puerto Rico
                    option(value='Qatar', data-continent='Asia') Qatar
                    option(value='Réunion', data-continent='Africa') Réunion
                    option(value='Romania', data-continent='Europe') Romania
                    option(value='Russian Federation', data-continent='Asia') Russian Federation
                    option(value='Rwanda', data-continent='Africa') Rwanda
                    option(value='Saint Barthélemy', data-continent='North America') Saint Barthélemy
                    option(value='Saint Helena, Ascension and Tristan da Cunha', data-continent='Africa') Saint Helena, Ascension and Tristan da Cunha
                    option(value='Saint Kitts and Nevis', data-continent='North America') Saint Kitts and Nevis
                    option(value='Saint Lucia', data-continent='North America') Saint Lucia
                    option(value='Saint Martin (French part)', data-continent='North America') Saint Martin (French part)
                    option(value='Saint Pierre and Miquelon', data-continent='North America') Saint Pierre and Miquelon
                    option(value='Saint Vincent and the Grenadines', data-continent='North America') Saint Vincent and the Grenadines
                    option(value='Samoa', data-continent='Oceania') Samoa
                    option(value='San Marino', data-continent='Europe') San Marino
                    option(value='Sao Tome and Principe', data-continent='Africa') Sao Tome and Principe
                    option(value='Saudi Arabia', data-continent='Asia') Saudi Arabia
                    option(value='Senegal', data-continent='Africa') Senegal
                    option(value='Serbia', data-continent='Europe') Serbia
                    option(value='Seychelles', data-continent='Africa') Seychelles
                    option(value='Sierra Leone', data-continent='Africa') Sierra Leone
                    option(value='Singapore', data-continent='Asia') Singapore
                    option(value='Sint Maarten (Dutch part)', data-continent='North America') Sint Maarten (Dutch part)
                    option(value='Slovakia', data-continent='Europe') Slovakia
                    option(value='Slovenia', data-continent='Europe') Slovenia
                    option(value='Solomon Islands', data-continent='Oceania') Solomon Islands
                    option(value='Somalia', data-continent='Africa') Somalia
                    option(value='South Africa', data-continent='Africa') South Africa
                    option(value='South Georgia and the South Sandwich Islands', data-continent='Antarctica') South Georgia and the South Sandwich Islands
                    option(value='South Sudan', data-continent='Africa') South Sudan
                    option(value='Spain', data-continent='Europe') Spain
                    option(value='Sri Lanka', data-continent='Asia') Sri Lanka
                    option(value='Sudan', data-continent='Africa') Sudan
                    option(value='Suriname', data-continent='South America') Suriname
                    option(value='Svalbard and Jan Mayen', data-continent='Europe') Svalbard and Jan Mayen
                    option(value='Swaziland', data-continent='Africa') Swaziland
                    option(value='Sweden', data-continent='Europe') Sweden
                    option(value='Switzerland', data-continent='Europe') Switzerland
                    option(value='Syrian Arab Republic', data-continent='Asia') Syrian Arab Republic
                    option(value='Taiwan, Province of China', data-continent='Asia') Taiwan, Province of China
                    option(value='Tajikistan', data-continent='Asia') Tajikistan
                    option(value='Tanzania, United Republic of', data-continent='Africa') Tanzania, United Republic of
                    option(value='Thailand', data-continent='Asia') Thailand
                    option(value='Timor-Leste', data-continent='Asia') Timor-Leste
                    option(value='Togo', data-continent='Africa') Togo
                    option(value='Tokelau', data-continent='Oceania') Tokelau
                    option(value='Tonga', data-continent='Oceania') Tonga
                    option(value='Trinidad and Tobago', data-continent='North America') Trinidad and Tobago
                    option(value='Tunisia', data-continent='Africa') Tunisia
                    option(value='Turkey', data-continent='Asia') Turkey
                    option(value='Turkmenistan', data-continent='Asia') Turkmenistan
                    option(value='Turks and Caicos Islands', data-continent='North America') Turks and Caicos Islands
                    option(value='Tuvalu', data-continent='Oceania') Tuvalu
                    option(value='Uganda', data-continent='Africa') Uganda
                    option(value='Ukraine', data-continent='Europe') Ukraine
                    option(value='United Arab Emirates', data-continent='Asia') United Arab Emirates
                    option(value='United Kingdom', data-continent='Europe') United Kingdom
                    option(value='United States of America', data-continent='North America') United States of America
                    option(value='United States Minor Outlying Islands', data-continent='North Americ') United States Minor Outlying Islands
                    option(value='Uruguay', data-continent='South America') Uruguay
                    option(value='Uzbekistan', data-continent='Asia') Uzbekistan
                    option(value='Vanuatu', data-continent='Oceania') Vanuatu
                    option(value='Venezuela, Bolivarian Republic of', data-continent='South Americ') Venezuela, Bolivarian Republic of
                    option(value='Viet Nam', data-continent='Asia') Viet Nam
                    option(value='Virgin Islands, British', data-continent='North America') Virgin Islands, British
                    option(value='Virgin Islands, U.S.', data-continent='North America') Virgin Islands, U.S.
                    option(value='Wallis and Futuna', data-continent='Oceania') Wallis and Futuna
                    option(value='Western Sahara', data-continent='Africa') Western Sahara
                    option(value='Yemen', data-continent='Asia') Yemen
                    option(value='Zambia', data-continent='Africa') Zambia
                    option(value='Zimbabwe', data-continent='Africa') Zimbabwe
            p.areYouSure
                | If you are happy with the pinned location (
                img(src='/images/pledge-marker.png')
                | ), then click continue to proceed
            p
                | You can click the marker (
                img(src='/images/pledge-marker.png')
                | ) to drag its position, if required.
            button#continue2 Continue
        #stageThree.section(style='display: none')
            h2 Email address:
            input#email(type='email', name='email', value='', dir='auto', aria-label='Email address ', aria-required='true', title='', required='')
            h2 Your name:
            input#name(type='text', name='name', value='', dir='auto', aria-label='Your name ', aria-required='true', title='', required='')
            h2 Your twitter handle:
            #twitterHandleContainer
                span @
                input#twitterHandle(type='text', name='twitterHandle', value='', dir='auto', aria-label='Your twitter handle ', aria-required='true', title='', required='')
            h2 Organization:
            input#organisation(type='text', name='organisation', value='', dir='auto', aria-label='Organisation ', aria-required='true', title='', required='')
            p
                input#subscribe(type='checkbox', name='subscribe', value='Subscribe', role='checkbox')
                | I don't want to receive updates from Badge The World
            | !{captcha}
            script(type='text/javascript').
                function successfullySubmitted(){
                    $('#pledgeSubmit').removeAttr('disabled').fadeTo('opacity', '1');
                }
            p
                input#pledgeSubmitHidden(type='submit', style='display:none')
                button#pledgeSubmit(disabled = "true" style='opacity: 0.3')
                    span.text Submit
                    span.spinner
                      i.demo-icon.icon-spin1.animate-spin
        #stageFour.section(style='display: none')
            h2.centerText Thank you for your pledge!
            p.centerText Now share your pledge with the world...
            script(type='text/javascript', async='', src='https://platform.twitter.com/widgets.js')
            a#twitterShare.button.tweet
                i.icon-twitter
                | Share on Twitter
